/AI-Learning
/hdf5
/myProjects
/patterns
bias.npy
weights.npy
/coursera
/foobar Solutions/encryption.py
/foobar Solutions/fuel1.py
/foobar Solutions/prepare-the-bunnies-escape.py
/foobar Solutions/solar-ray1.py

